<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div style="padding: 20px;">
        <h3>Search Nearest Hub</h3>
        <div class="row justify-content-md-center" style="margin-bottom: 10px;">
          <div class="col-6">
            <div class="input-group">
              <input id="address" class="form-control shadow-input" type="textbox" value="">
              <div class="input-group-append">
                <button id="coordinatesClick" class="btn btn-outline-secondary shadow-append" type="button" id="button-addon2">Search</button>
              </div>
            </div>
          </div>
        </div>
        <div id="map"></div>
        <div class="row justify-content-md-center" style="margin-top: 15px;">
          <div class="col-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Distance (m)</span>
              </div>
              <span class="form-control nearest-distance"></span>
            </div>
          </div>
          <div class="col-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
              </div>
              <span class="form-control nearest-name"></span>
            </div>
          </div>
          <div class="col-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Country Code</span>
              </div>
              <span class="form-control nearest-cc"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp29CPfDeUOLveRJstFBGldd-es4-FTnc&callback=initMap"></script>
