<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div style="padding: 20px;">
        <p>Load the data:</p>
        <button id="data-load" class="btn btn-default btn-primary">Find</button>
      </div>
      <div style="padding: 20px;">
        <p>Search the data:</p>
        <%= link_to 'Search', search_path, type: 'button', class: 'btn btn-default btn-primary' %>
      </div>
      <div style="padding: 20px;">
        <p>Find the nearest hub from an address:</p>
        <%= link_to 'Find Nearest', find_path, type: 'button', class: 'btn btn-default btn-primary' %>
      </div>
    </div>
  </div>
</div>
