<div class="row justify-content-md-center">
  <div class="col-md-7">
    <div style="padding: 40px; margin: 10px;">
      <div style="margin-top: 5px;">
        <table class="table table-bordered table-hover" id="results-table" data-source="<%= search_path(format: :json) %>">
         <thead>
            <tr>
              <th>Country Code</th>
              <th>LOCODE</th>
              <th>Name</th>
              <th>Function</th>
              <th>Status</th>
              <th>IATA</th>
              <th>Latitude</th>
              <th>Longitude</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
